@use './variables';

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-overflow-multiline($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: variables.$breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: variables.$breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: variables.$breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: variables.$breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: variables.$breakpoint-xl) {
      @content;
    }
  }
}
