@use './variables';
@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: variables.$primary-color;
  cursor: pointer;

  &:hover {
    color: color.adjust(variables.$primary-color, $lightness: 10%);
  }
}
